{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">All Products</h2>
<div class="row">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-4">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text text-muted">₹{{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
